* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    word-spacing: 150px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url(..//HTML/bg1.png);
    background-blend-mode: color-dodge;
    
}

label {
    border: black;
    border-color: aqua;
    border-block: 50px;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    boder -radius: 50%;
}

button {
    border-color: aqua;
    background-color: white;
    font: bolder;
    font-size: 30px;
    color: black;
    border-radius: 10px;
}

footer {
    background-color: #eee6e6;
    padding: 5px;
    font-size: 30px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
