*{
    padding: 0;
    margin: 0;
   
}
header {
   background-color: rgb(27, 25, 25);
   padding: 20px;
   text-align: center;
   justify-content: space-around;
   font-size: 20px;
   text-decoration: none;
    word-spacing: 70px;
    text-decoration: none;
    position: fixed;
    width: 100%;


}

.topnav a {
   font-family: "Bebas Neue", serif;
   font-weight: 800;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   font-weight: 800;
   letter-spacing: 2px;
 }
 .topnav a:hover {
   font-family: "Bebas Neue", serif;
   font-weight: 800;
   color: rgb(255, 128, 0);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   font-weight: 800;
   letter-spacing: 2px;
 }

 
 
 
.btn
{ background-color:rgb(244, 131, 3);
 padding: 8px;
 border-radius: 25px;
 border-style: none;
 color: white;
 font-weight: 800;
  }

  .btn:hover
{ background-color:rgba(231, 133, 36, 0.841);
 padding: 8px;
 border-radius: 25px;
 border-style: none;
 color: white;
 font-weight: 800;
  }

  #home{
   display: flex;
    background-color: rgb(27, 25, 25);
    width: 100%;
    height: 740px;
    
   
   
  }
  .homeimg{
     height: 500px;
     width: 350px;
     border-radius: 20px;
     margin-top: 120px;
     margin-right: 100px;
    
    
   }
   p{
      text-indent: 50px;
      font-size: 20px;
      font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(220, 209, 209);
      width: 800px;
      margin-left: 80px;
      

   }
   h2{
      
         font-family: "Bebas Neue", serif;
         font-weight: 800;
         font-size: 100px;
         width: 800px;
         font-style: normal;
         color: rgb(244, 131, 3);
         margin-left: 80px;
   }
   .headtext{
     
      margin-top: 200px;
      margin-left: 100px;
     
   }

 /* ABOUT SECTION */
   
 #about{
       display: flex; 
       background-color: rgb(27, 25, 25);
       width: 100%;
       height: 740px;
     
      
      }

      #about h1{
      
        font-family: "Bebas Neue", serif;
        color: rgb(244, 131, 3);
        margin-top: 80px;
        margin-left: 200px;
        letter-spacing: 4px;
        font-size: 50px;
   
      }
      
      .aboutimg{
        position: relative;
        height: 600px;
        width: 600px;
    
        top: 100px;
        left: 20px;
      }

      .tside{
        position:absolute;
        width: 200px;
        height: 200px;
        left :380px ;
        top: px;
        z-index: 1;
        border: 2px solid wheat;
        border-radius: 10px;
        box-shadow: 0px 0px 4px whitesmoke;

      }
      .mid{
        position:absolute;
        width: 280px;
        height: 300px;
        left: 150px;
        top: 150px;
        z-index: 2;
        border: 2px solid wheat;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgb(60, 59, 59);
      }
      .bside{
        position:absolute;
        width: 200px;
        height: 200px;
        top: 400px;
        z-index: 1;
        border: 2px solid wheat;
        border-radius: 10px;
        box-shadow: 0px 0px 2px whitesmoke;
        
      }

      .abouttext{
       position: absolute;
       left: 600px;
       top: 1000px;
       text-align: justify;
       line-height: 30px;
        
      }
      span{
        color: rgb(244, 131, 3);
        font-weight: 800;
      }


    /* Service section  */

     #service{
   
      background-color: rgb(27, 25, 25);
      width: 100%;
      height: 740px;
      position: relative;
      
     }
     #service h1{
      position: relative;
      
      font-family: "Bebas Neue", serif;
      color: rgb(244, 131, 3);
      top: 50px;
     
      margin-left: 700px;
      letter-spacing: 4px;
      font-size: 50px;
 
    }
      .card{
        display: flex; 
        width: 100%;
        height: 500px;
        gap: 20px;
        margin-top: 100px;
      }

      .card-body{

        background-color: #444444;
      
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        margin-left: 80px;
    }
        
      
      .cardimg{
        width: 100%;
        height: 100px;
       
       
    
      }
      .card-body p{
  
        width: 150px;
        font-size: 20px;
        text-align: justify;
      ;
   
      }


   /* Contact section */

   #contact{
      display: flex;
      background-color: rgb(27, 25, 25);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       width: 100%;
       height: 620px;
  }

 

  #contact img{

      position: relative;
      height: 300px;
      width: 400px;
      top: 150px;
      left: 250px;
    
  }
  
  #contact p{

    position: relative;
    height: 400px;
    width: 400px;
    top: 170px;
    left: 170px;

}

.contact-form h2 {
  text-align: center;
 margin-left: 100px;
  font-size: 50px;
}
.contact-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-left: 300px;
  
}
.contact-form input, 
.contact-form textarea, 
.contact-form button {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 300px;
}
.contact-form button {
  background-color: rgb(244, 131, 3);
  top: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: rgba(231, 133, 36, 0.841);
}










     #donate{
      display: flex;
       background-color: rgb(42, 179, 99);
       width: 100%;
       height: 620px;
       /* text-align: center;
       justify-content: center; */
      
     }


     

 

